<div id="<%= dom_id character %>">
  <p>
    <strong>Name:</strong>
    <%= character.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= character.location %>
  </p>

  <p>
    <strong>House:</strong>
    <%= character.house %>
  </p>

</div>
